<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="container.css">
  <title>Document</title>
  
</head>
<body>
  <div class="container">
    <div class="left-session">
      <div class="left-session left-top">
        <div class="left-session left-top box-1"></div>
        <div class="left-session left-top box-2"></div>
      </div>

      <div class="left-session left-bottom"></div>
    </div>
    <div class="middle-session">

    </div>
    <div class="right-session">

    </div>
  </div>

</body>
</html>
